<article>
    <div class="post-category">
        <p class="text-center">{{category.fields.title}}</p>
    </div>
    <div class="post-title">
        <h2 class="text-center"><a href="/{{ _fileName }}">{{ title }}</a></h2>
    </div>
    <p class="text-center">
        {{#if publishedAt}}
        <span class="post-date">{{date publishedAt}}</span> |
        {{/if}}
        <span class="post-comment-count"></span>
    </p>
    {{#if mainMedia}}
    <div class="post-image">
        <img class="center-block" style="100%" src="{{mainMedia.fields.file.url}}">
    </div>
    {{/if}}
    <div class="post-lead">
    {{#if lead}}
        <p>{{lead}}</p>
    {{else}}
        <p>{{ shorten body}}</p>
    {{/if}}
    </div>
    <div class="post-actions">
        <p><a href="/{{ _fileName }}">Read more</a></p>
    </div>
</article>
