<div class="cover hero">
	<div class="cover-bg" style="background-image: url(/content/images/2015/11/birds.jpg)"></div>
	<div class="cover-content">
		<div class="inner">
			<div class="hero-wrap">
                <h2 class="hero-title fade-in">{{title}}</h2>
                <p class="hero-text fade-in">{{description}}</p>
                <p class="subscribe"><a href="{{link}}/rss/" class="button light fade-in">Subscrever</a></p>
			</div>
		</div><!-- .inner -->
	</div><!-- .cover-content -->
</div><!-- .cover -->
