<footer class="site-footer">
	<div class="footer-top">
		<div class="inner-wide">
			<div class="offsite-links">
                <a href="{{site.instagram}}" class="icon-instagram"><span class="screen-reader-text">Instagram</span></a>
                <a href="{{site.url}}/rss/" class="icon-feed"><span class="screen-reader-text">RSS</span></a>
			</div><!-- .offsite-links -->
			<a href="#page" class="top-link square icon-chevron-up" title="Topo"><span class="screen-reader-text">Voltar ao topo</span></a>
		</div><!-- .inner -->
	</div><!-- .footer-top -->
	<div class="site-info inner-wide">
        <p><a target="_blank" href="http://justgoodthemes.com/">JustGoodThemes</a></p>
	</div><!-- .site-info -->
</footer><!-- .site-footer -->
