<div class="col-sm-7 blog-main">
    <div class="row">
        <article>
            <div class="post-category">
                <p class="text-center">{{category.fields.title}}</p>
            </div>
            <div class="post-title">
                <h2 class="text-center"><a href="{{ _fileName }}">{{ title }}</a></h2>
            </div>
            <p class="text-center">
                <span class="post-date">{{publishedAt}}</span> | <span class="post-comment-count">
            </p>
            <div class="post-image">
                <img class="center-block" style="100%" src="{{mainMedia.fields.file.url}}">
            </div>
            <div class="post-lead">
                <p>{{lead}}</p>
            </div>
            <div data-markdown>{{body}}</div>
            <div class="post-actions">
            </div>
        </article>
    </div>
</div>
