<header class="cover post-header">
	<div class="cover-content">
		<div class="inner">
			<div class="tag-links">
				<a href="/tag/inicio/">Início</a>
			</div><!-- .tag-links -->
            <h1 class="post-title">{{title}}</h1>
			<div class="post-meta">
                by <span class="post-author"><a href="/author/andrefs/">André Santos</a></span> em <time class="published" datetime="2015-11-17">{{publishedAt}}</time> <span class="reading-time">Ler em <span class="eta"></span></span>
			</div><!-- .post-meta -->
			<a href="#" class="scroll-down square light icon-chevron-down"><span class="screen-reader-text">Ler publicação</span></a>
		</div><!-- .inner -->
	</div><!-- .cover-content -->
</header><!-- .cover -->
