<!DOCTYPE html>
<html>
    {{> head}}
    <body class="home-template">
    	<div id="page" class="site">
            {{> header}}
            {{> cover}}

            <h1>{{ title }}</h1>
            <div>
                <ul>
                {{#each data.entries}}
                    <li><a href="{{ _fileName }}">{{ fields.title }}</a></li>
                {{/each}}
                </ul>
            </div>

            {{> footer}}
        </div><!-- #page -->
        {{> footer-scripts}}
    </body>
</html>

